body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  background-image: url( https://png.pngtree.com/thumb_back/fh260/background/20230716/pngtree-d-render-of-a-modern-library-interior-featuring-white-study-desks-image_3875023.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    padding: 60px;
    border: 1px solid #cccccc89;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #0000003c;
    opacity: 0.8;
}
.colorforsignuppageAlreadyhaveanaccount{
    color: black;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    max-width: 100%;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}